@import "tailwindcss";
@import "./resets.css";
@import "./page.css";
@import "./transitions.css";
@import "./utils.css";
@import "./fonts.css";

@theme {
  --color-\*: initial;
  --color-white: hsla(0, 0%, 100%, 1);
  --color-black: hsla(200, 5%, 12%, 1);
  --color-blue: hsla(197, 77%, 73%, 1);
  --color-green: hsla(89, 64%, 77%, 1);
  --color-pink: hsla(335, 100%, 88%, 1);
  --color-purple: hsla(276, 92%, 81%, 1);

  --breakpoint-\*: initial;
  --breakpoint-2xs: 375px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1800px;

  --spacing-\*: initial;
  --spacing: 4px;

  --font-\*: initial;
  --font-display: "PP Monument Extended", sans-serif, system-ui;
  --font-mono: "Roboto Mono", monospace, ui-monospace;

  --text-\*: initial;

  /* 16px */
  --text-16: 1rem;
  --text-16--line-height: 1.3;
  --text-16--letter-spacing: 0.01em;

  /* 20px */
  --text-20: 1.25rem;
  --text-20--line-height: 1.3;
  --text-20--letter-spacing: 0.005em;

  /* 28px */
  --text-28: 1.75rem;
  --text-28--line-height: 1.3;
  --text-28--letter-spacing: 0em;

  /* 32px */
  --text-32: 2rem;
  --text-32--line-height: 1;
  --text-32--letter-spacing: 0em;

  /* 42px */
  --text-42: 2.625rem;
  --text-42--line-height: 1.2;
  --text-42--letter-spacing: 0em;

  /* 50px */
  --text-50: 3.125rem;
  --text-50--line-height: 1.2;
  --text-50--letter-spacing: -0.015em;

  /* https://utopia.fyi/type/calculator/?c=375,20,1.2,1300,50,1.25,5,2,&s=0.75,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --text-50-fluid: clamp(1.25rem, 0.4899rem + 3.2432vw, 3.125rem);
  --text-50-fluid--line-height: 1.2;
  --text-50-fluid--letter-spacing: -0.015em;

  /* 84px */
  --text-84: 5.25rem;
  --text-84--line-height: 1;
  --text-84--letter-spacing: -0.03em;

  --tracking-\*: initial;
  --tracking-sm: 0.04em;
  --tracking-md: 0.06em;
  --tracking-lg: 0.15em;

  --ease-inQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-outQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-inOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  --ease-inCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-outCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-inOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

  --ease-inQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-outQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-inOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

  --ease-inQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-outQuint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-inOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

  --ease-inSine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-outSine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-inOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  --ease-inExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-outExpo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-inOutExpo: cubic-bezier(1, 0, 0, 1);

  --ease-inCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-outCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-inOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  --ease-outBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-inOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
