@import "tailwindcss";
@import "./resets.css";
@import "./type.css";
@import "./transitions.css";
@import "./utils.css";
@import "./fonts.css";

@theme {
  --color-\*: initial;
  --color-white: hsla(0, 0%, 100%, 1);
  --color-offwhite: hsla(50, 33%, 96%, 1); /* #f8f7f1 */
  --color-black: hsla(0, 0%, 0%, 1); /* #000000 */
  --color-offblack: hsla(200, 5%, 12%, 1); /* #1e2021 */
  --color-blue: hsla(197, 77%, 73%, 1); /* #84d0ef */
  --color-green: hsla(89, 64%, 77%, 1); /* #c6eaa0 */
  --color-pink: hsla(335, 100%, 88%, 1); /* #ffc3dc */
  --color-purple: hsla(276, 92%, 81%, 1); /* #d8a4fb */

  --breakpoint-\*: initial;
  --breakpoint-2xs: 375px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 800px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1440px;
  --breakpoint-2xl: 1800px;

  --spacing-\*: initial;
  --spacing: 4px;

  --font-\*: initial;
  --font-display: "PP Monument Extended", sans-serif, system-ui;
  --font-mono: "Roboto Mono", monospace, ui-monospace;

  --text-\*: initial;

  --text-14: 0.875rem; /* 14px */
  --text-16: 1rem; /* 16px */
  --text-20: 1.25rem; /* 20px */
  --text-26: 1.5rem; /* 26px */
  --text-28: 1.75rem; /* 28px */
  --text-32: 2rem; /* 32px */
  --text-42: 2.625rem; /* 42px */
  --text-50: 3.125rem; /* 50px */
  --text-84: 5.25rem; /* 84px */
  --text-fluid-h1: clamp(1.625rem, 0.3486rem + 5.446vw, 5.25rem); /* 26px - 84px */
  --text-fluid-h2: clamp(1.25rem, 0.5898rem + 2.8169vw, 3.125rem); /* 20px - 50px */
  --text-fluid-h3: clamp(1.125rem, 0.5968rem + 2.2535vw, 2.625rem); /* 18px - 42px */
  --text-fluid-h4: clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem); /* 16px - 28px */
  --text-fluid-h5: clamp(1rem, 0.912rem + 0.3756vw, 1.25rem); /* 16px - 20px */
  --text-fluid-p: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem); /* 14px - 16px */

  --ease-inQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-outQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-inOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  --ease-inCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-outCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-inOutCubic: cubic-bezier(0.65, 0, 0.35, 1);

  --ease-inQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-outQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-inOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

  --ease-inQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-outQuint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-inOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

  --ease-inSine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-outSine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-inOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  --ease-inExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-outExpo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-inOutExpo: cubic-bezier(1, 0, 0, 1);

  --ease-inCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-outCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-inOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  --ease-inBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-outBack: cubic-bezier(0.34, 1.56, 0.64, 1);
  --ease-inOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

  /* Force CSS variables */
  --force-colors: var(--color-offblack) var(--color-white) var(--color-blue) var(--color-green) var(--color-pink) var(--color-purple);
  --force-breakpoints: var(--breakpoint-2xs) var(--breakpoint-xs) var(--breakpoint-sm) var(--breakpoint-md) var(--breakpoint-lg) var(--breakpoint-xl) var(--breakpoint-2xl);
}

@layer theme {
  :root {
    --app-transition-duration: 0.4s;
    --app-transition-ease: var(--ease-out);
    --app-text-color: var(--color-offblack);
    --app-background-color: var(--color-white);

    --app-inner-gutter: 10px;
    --app-outer-gutter: 20px;

    --app-grid: repeat(4, minmax(0, 1fr));

    --app-header-height: 72px;
    --app-header-logo-width: 86px;
    --app-header-logo-height: 32px;


    @variant sm {
      --app-inner-gutter: 20px;

      --app-grid: repeat(8, minmax(0, 1fr));
    }

    @variant md {
      --app-outer-gutter: 30px;

      --app-grid: repeat(12, minmax(0, 1fr));

      --app-header-height: 92px;
    }
  }

  ::selection {
    color: --alpha(var(--color-white) / 99%);
    background-color: var(--color-offblack);
  }

  .is-storyblok-editor {
    a {
      pointer-events: none !important;
    }
  }
}
