@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Variable.woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('/fonts/PPMonumentExtended-Regular.woff2') format('woff2'),
       url('/fonts/PPMonumentExtended-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('/fonts/PPMonumentExtended-Black.woff2') format('woff2'),
       url('/fonts/PPMonumentExtended-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}