@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono-Variable.woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('/fonts/PPMonumentExtended-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Monument Extended';
  src: url('/fonts/PPMonumentExtended-Black.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}