/* Helpers */
@utility text-outline-offblack {
  --text-stroke-width: 0.02em;

  @supports((text-stroke: 1px black) or (-webkit-text-stroke: 1px black)) {
    -webkit-text-stroke: var(--text-stroke-width) var(--color-offblack);
    text-stroke: var(--text-stroke-width) var(--color-offblack);
    color: transparent;
  }
}

@utility text-outline-offwhite {
  --text-stroke-width: 0.02em;

  @supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
    -webkit-text-stroke: var(--text-stroke-width) var(--color-offwhite);
    text-stroke: var(--text-stroke-width) var(--color-white);
    color: transparent;
  }
}

/* Overriders */
.text-outline-offblack-override {
  & .is-outlined {
    @apply text-outline-offblack;
  }
}

.text-outline-offwhite-override {
  & .is-outlined {
    @apply text-outline-offwhite;
  }
}
