/* Global */
.is-outlined {
  --text-stroke-width: 0.02em;

  @supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
    -webkit-text-stroke: var(--text-stroke-width) var(--app-text-color);
    text-stroke: var(--text-stroke-width) var(--app-text-color);
    color: transparent;
  }

  transition:
    -webkit-text-stroke var(--app-transition-duration) var(--app-transition-ease),
    text-stroke var(--app-transition-duration) var(--app-transition-ease);
}


/* Helpers */
@utility text-outline-offblack {
  @supports((text-stroke: 1px black) or (-webkit-text-stroke: 1px black)) {
    -webkit-text-stroke: 1px var(--color-offblack);
    text-stroke: 1px var(--color-offblack);
    color: transparent;
  }
}

@utility text-outline-offwhite {
  @supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
    -webkit-text-stroke: 1px var(--color-offwhite);
    text-stroke: 1px var(--color-white);
    color: transparent;
  }
}

@utility text-outline-current {
  --text-stroke-width: 0.02em;

  @supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
    -webkit-text-stroke: var(--text-stroke-width) var(--app-text-color);
    text-stroke: var(--text-stroke-width) var(--app-text-color);
    color: transparent;
  }
}

/* Overriders */
.text-outline-offblack-override {
  & .is-outlined {
    @apply text-outline-offblack;
  }
}

.text-outline-offwhite-override {
  & .is-outlined {
    @apply text-outline-offwhite;
  }
}
