@layer theme {
  :root {
    --app-fluid-gutter: clamp(20px, 9.4366px + 2.8169vw, 50px);
    --app-inner-gutter: var(--app-fluid-gutter);
    --app-outer-gutter: var(--app-fluid-gutter);
  }

  ::selection {
    color: --alpha(var(--color-white) / 99%);
    background-color: var(--color-black);
  }

  .is-storyblok-editor {
    a {
      pointer-events: none !important;
    }
  }
}
