@utility prose {
  & * + :is(h1, h2, h3, h4, h5, h6) {
    margin-block-start: 1.5em;
    margin-block-start: 1.5lh;
  }

  & :is(h1, h2, h3, h4, h5, h6):has(+ p) {
    margin-block-end: 1.5em;
    margin-block-end: 1.5lh;
  }

  & p + p {
    margin-block-start: 1em;
    margin-block-start: 1lh;
  }

  & ul,
  & ol {
    margin-block: 1.5em;
    margin-block: 1.5lh;
  }

  & ul ul,
  & ol ol {
    margin-block: 0.5em 1em;
    margin-block: 0.5lh 1lh;
  }

  & li,
  & li p {
    margin-block: 0.5em;
    margin-block: 0.5lh;
  }

  & ol,
  & ul {
    text-align: left;
  }

  & ol {
    counter-reset: list-counter;
  }

  & ol li {
    position: relative;
    padding-left: --spacing(5);
    counter-increment: list-counter;

    &::before {
      content: counter(list-counter) ".";
      position: absolute;
      bottom: 0.15em;
      left: 0;
      color: currentColor;
    }
  }

  & ul li {
    position: relative;
    padding-left: --spacing(5);

    &::before {
      content: '';
      position: absolute;
      top: 0.65em;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: currentColor;
    }
  }

  & ul li li {
    &::before {
      border: 1px solid currentColor;
      background-color: transparent;
    }
  }

  & p a {
    text-decoration: underline;
    text-underline-offset: 0.1em;
    text-decoration-thickness: 1px;
    transition: opacity 0.2s var(--ease-out);

    &:hover {
      opacity: 0.6;
    }
  }
}

@utility prose-post {
  @apply prose;

  & * + :is(h1, h2, h3, h4, h5, h6) {
    margin-block-start: 5em;
    margin-block-start: 5lh;
  }
}

@utility prose-base {
  @apply prose;

  & p {
    @apply type-p;

    text-wrap: pretty;
    max-width: 55ch;
  }
}