@layer base {
  html {
    color: var(--app-text-color);
    background-color: var(--app-background-color);
    transition: color var(--app-transition-duration) var(--app-transition-ease),
    background-color var(--app-transition-duration) var(--app-transition-ease);
    will-change: color, background-color;
  }

  body {
    font-family: var(--font-mono);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  button {
    text-transform: inherit;
    letter-spacing: inherit;
    touch-action: manipulation;
    user-select: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  svg {
    display: block;
  }

  blockquote,
  figcaption,
  figure,
  cite,
  address {
    font-style: normal;
  }
}
