@layer base {
  html {
    color: var(--app-text-color);
    background-color: var(--app-background-color);

    transition:
      color var(--app-transition-duration) var(--app-transition-ease),
    background-color var(--app-transition-duration) var(--app-transition-ease);
  }

  .is-outlined {
    --text-stroke-width: 0.02em;

    @supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
      -webkit-text-stroke: var(--text-stroke-width) var(--app-text-color);
      text-stroke: var(--text-stroke-width) var(--app-text-color);
      color: transparent;
    }

    /* transition:
      -webkit-text-stroke var(--app-transition-duration) var(--app-transition-ease),
      text-stroke var(--app-transition-duration) var(--app-transition-ease); */
  }

  body {
    font-family: var(--font-mono);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  button {
    text-transform: inherit;
    letter-spacing: inherit;
    touch-action: manipulation;
    user-select: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  svg {
    display: block;
  }

  blockquote,
  figcaption,
  figure,
  cite,
  address {
    font-style: normal;
  }
}
