@layer base {
  ::selection {
    color: --alpha(var(--color-offblack) / 99%);
    background-color: var(--color-green);
  }

  .is-storyblok-editor {
    a {
      pointer-events: none !important;
    }
  }

  html {
    color: var(--color-offblack);
    background-color: var(--color-offwhite);
  }

  body {
    font-family: var(--font-mono);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  button {
    text-transform: inherit;
    letter-spacing: inherit;
    touch-action: manipulation;
    user-select: none;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  svg {
    display: block;
  }

  blockquote,
  figcaption,
  figure,
  cite,
  address {
    font-style: normal;
  }
}
