/* Themes */

.is-outlined {
  @supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
    -webkit-text-stroke: 1px var(--app-text-color);
    text-stroke: 1px var(--app-text-color);
    color: transparent;
    transition:
      -webkit-text-stroke var(--app-transition-duration) var(--app-transition-ease),
      text-stroke var(--app-transition-duration) var(--app-transition-ease);
  }
}
