/* Themes */
.theme-dark {
  --theme-background-color: var(--color-offblack);

  color: var(--color-white);

  & .is-outlined {
    @apply text-outline-white;
  }
}

.theme-light {
  --theme-background-color: var(--color-white);

  color: var(--color-offblack);

  & .is-outlined {
    @apply text-outline-offblack;
  }
}

.theme-blue {
  --theme-background-color: var(--color-blue);

  color: var(--color-offblack);

  & .is-outlined {
    @apply text-outline-offblack;
  }
}

.theme-green {
  --theme-background-color: var(--color-green);

  color: var(--color-offblack);

  & .is-outlined {
    @apply text-outline-offblack;
  }
}

.theme-pink {
  --theme-background-color: var(--color-pink);

  color: var(--color-offblack);

  & .is-outlined {
    @apply text-outline-offblack;
  }
}

.theme-purple {
  --theme-background-color: var(--color-purple);

  color: var(--color-offblack);

  & .is-outlined {
    @apply text-outline-offblack;
  }
}