/* Display sizes: 16, 20, 26, 28, 32, 42, 50, 84 */
@utility type-display-16 {
  font-family: var(--font-display);
  font-size: var(--text-16);
  line-height: 1.25;
  letter-spacing: 0em;
}

@utility type-display-20 {
  font-family: var(--font-display);
  font-size: var(--text-20);
  line-height: 1;
  letter-spacing: -0.03em;
}

@utility type-display-26 {
  font-family: var(--font-display);
  font-size: var(--text-26);
  line-height: 1;
  letter-spacing: -0.03em;
}

@utility type-display-28 {
  font-family: var(--font-display);
  font-size: var(--text-28);
  line-height: 1.25;
  letter-spacing: 0em;
}

@utility type-display-32 {
  font-family: var(--font-display);
  font-size: var(--text-32);
  line-height: 1;
  letter-spacing: -0.03em;
}

@utility type-display-42 {
  font-family: var(--font-display);
  font-size: var(--text-42);
  line-height: 1;
  letter-spacing: -0.03em;
}

@utility type-display-50 {
  font-family: var(--font-display);
  font-size: var(--text-50);
  line-height: 1;
  letter-spacing: -0.03em;
}

@utility type-display-84 {
  font-family: var(--font-display);
  font-size: var(--text-84);
  line-height: 1;
  letter-spacing: -0.05em;
}

/* Mono sizes: 14, 16, 20 */
@utility type-mono-14 {
  font-family: var(--font-mono);
  font-size: var(--text-14);
  line-height: 1.25;
  letter-spacing: 0em;
}

@utility type-mono-16 {
  font-family: var(--font-mono);
  font-size: var(--text-16);
  line-height: 1.25;
  letter-spacing: 0em;
}

@utility type-mono-20 {
  font-family: var(--font-mono);
  font-size: var(--text-20);
  line-height: 1.25;
  letter-spacing: 0em;
}

/* Heading sizes: h1, h2, h3, h4, h5 */
@utility type-h1 {
  font-family: var(--font-display);
  font-size: var(--text-fluid-h1);
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  @variant md {
    letter-spacing: -0.05em;
  }
}

@utility type-h2 {
  font-family: var(--font-display);
  font-size: var(--text-fluid-h2);
  font-weight: bold;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@utility type-h3 {
  font-family: var(--font-display);
  font-size: var(--text-fluid-h3);
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: -0.05em;
  text-transform: none;
}

@utility type-h4 {
  font-family: var(--font-display);
  font-size: var(--text-fluid-h4);
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0em;
  text-transform: none;
}

@utility type-h5 {
  font-family: var(--font-mono);
  font-size: var(--text-fluid-h5);
  font-weight: var(--font-weight-semibold);
  line-height: 1.25;
  letter-spacing: 0em;
  text-transform: none;

  @variant sm {
    letter-spacing: -0.03em;
  }
}

@utility type-p {
  font-family: var(--font-mono);
  font-size: var(--text-fluid-p);
  font-weight: var(--font-weight-normal);
  line-height: 1.25;
  letter-spacing: 0em;
  text-transform: none;
}