@utility wrapper {
  width: 100%;
  max-width: var(--breakpoint-2xl);
  margin-inline: auto;
  padding-inline: var(--app-outer-gutter);
}

@utility text-outline-none {
  @supports((text-stroke: 1px black) or (-webkit-text-stroke: 1px black)) {
    -webkit-text-stroke: 0;
    text-stroke: 0;
    color: currentColor;
  }
}

@utility text-outline-black {
  @supports((text-stroke: 1px black) or (-webkit-text-stroke: 1px black)) {
    -webkit-text-stroke: 1px var(--color-black);
    text-stroke: 1px var(--color-black);
    color: transparent;
  }
}

@utility text-outline-white {
  @supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
    -webkit-text-stroke: 1px var(--color-white);
    text-stroke: 1px var(--color-white);
    color: transparent;
  }
}
