/* Wrapper */
@utility wrapper {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--app-outer-gutter);
}

@utility wrapper-max {
  width: 100%;
  max-width: var(--breakpoint-2xl);
  margin-inline: auto;
  padding-inline: var(--app-outer-gutter);
}

/* Text Outline */
@utility text-outline-offblack {
  @supports((text-stroke: 1px black) or (-webkit-text-stroke: 1px black)) {
    -webkit-text-stroke: 1px var(--color-offblack);
    text-stroke: 1px var(--color-offblack);
    color: transparent;
  }
}

@utility text-outline-offwhite {
  @supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
    -webkit-text-stroke: 1px var(--color-offwhite);
    text-stroke: 1px var(--color-white);
    color: transparent;
  }
}

@utility text-outline-current {
  --text-stroke-width: 0.02em;

  @supports((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
    -webkit-text-stroke: var(--text-stroke-width) var(--app-text-color);
    text-stroke: var(--text-stroke-width) var(--app-text-color);
    color: transparent;
  }
}

@utility invert-appearance {
  filter: invert(1) brightness(200%);
  mix-blend-mode: difference;
}

@custom-variant only-hover (@media (hover: hover));