/* Wrapper */
@utility wrapper {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--app-outer-gutter);
}

@utility wrapper-max {
  width: 100%;
  max-width: var(--breakpoint-2xl);
  margin-inline: auto;
  padding-inline: var(--app-outer-gutter);
}

@utility invert-appearance {
  filter: invert(1) brightness(200%);
  mix-blend-mode: difference;
}

@custom-variant only-hover (@media (hover: hover));

@custom-variant only-touch (@media (hover: none));